{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    <style>
    .dark-edition .card {
        background: #fafafa;
    }
    </style>
{% endblock css %}

{% block content %}
    <div class="row">
        <div class="col md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Voice notes</h4>
                    <p class="card-category">You can record, play, download and save your voice notes. </p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">

                            <form id="form-audio" action="{% url 'audios:create' %}" method="post">
                                {% csrf_token %}
                            </form>

                            <audio id="recorded" controls></audio>

                            <div class="pull-right">
                                <button class="btn btn-primary " id="record">Start Recording</button>
                                <button class="btn btn-primary " id="play">Play</button>
                                <button class="btn btn-primary " id="download">Download</button>
                                <button class="btn btn-primary " id="save">Save</button>
                            </div>

                            <h2 class="text-primary"> Voice notes</h2>

                            <form id="form-delete">
                                {% csrf_token %}
                            </form>

                            <div class="col-md-12" id="audios-list">
                                {% for object in audios %}
                                {% include 'audios/_audiocomponent.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="https://cdn.webrtc-experiment.com/MediaStreamRecorder.js"></script>
    <script src="{% static 'js/main.js'%}"></script>
{% endblock %}
